name: cloudpebble

# Set PUBLIC_URL for the deployment
x-public-url: &public-url "https://cloudpebble-dev.exe.xyz"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
      # - qemu  # Optional - emulator
      # - ycmd  # Optional - code completion

  web:
    build: cloudpebble/
    links:
      - redis
      - postgres
      - s3
      # - qemu  # Optional - emulator
      # - ycmd  # Optional - code completion
    environment:
      - DEBUG=yes
      - RUN_WEB=yes
      - AWS_ENABLED=yes
      - PORT=8000
      - AWS_S3_FAKE_S3=s3:4569
      - MEDIA_URL=https://cloudpebble-dev.exe.xyz/s3builds/
      - QEMU_URLS=https://cloudpebble-dev.exe.xyz/
      - YCM_URLS=https://cloudpebble-dev.exe.xyz/ycmd/
      - PUBLIC_URL=https://cloudpebble-dev.exe.xyz/
      - EXPECT_SSL=${EXPECT_SSL:-no}
      - LIBPEBBLE_PROXY=wss://cloudpebble-ws.herokuapp.com/tool
      - PEBBLE_AUTH_URL=https://auth.rebble.io

  celery:
    build: cloudpebble/
    links:
      - redis
      - postgres
      - s3
    environment:
      - DEBUG=yes
      - RUN_CELERY=yes
      - AWS_ENABLED=yes
      - EXPORT_ROOT=http://web:8000/export.cloudpebble.net/
      - AWS_S3_FAKE_S3=s3:4569

  qemu:
    build: cloudpebble-qemu-controller/
    profiles:
      - emulator

  ycmd:
    build: cloudpebble-ycmd-proxy/
    profiles:
      - codecomplete

  redis:
    image: redis

  postgres:
    image: postgres
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  s3:
    image: kuracloud/fake-s3
    ports:
      - "8003:4569"
