{% extends 'common/base-narrow.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'root/css/splash.css' %}">
{% endblock %}

{% block headercontent %}
    <div class="header-login">
        <button class="btn btn-primary btn-show-login">{% trans "Sign in" %}</button>
        <button class="btn btn-cancel btn-hide-login">{% trans "Close" %}</button>
    </div>
{% endblock %}

{% block precontent %}
    <div class="login">
        <div class="container">
            <div class="box-holder login-box-holder">
                <div class="box">
                    <h3>{% trans "Welcome to CloudPebble" %}</h3>
                    <p><button class="btn btn-primary" id="firebase-login-btn">{% trans "Log in with your Pebble account" %}</button></p>
                    <p><button class="btn" disabled style="opacity: 0.4; cursor: default;">{% trans "Create Pebble account" %}</button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block narrowcontent %}
    <div class="content">
        <div class="hero">
            <div class="hero-logo">
                <img src="{% static 'root/images/cloudpebble.png' %}">
            </div>
            <h2 class="hero-lead">{% trans "Online Pebble Development" %}</h2>
            <p class="hero-sub">{% trans "Write apps without dealing with Linux, virtual machines, compilers, or Python." %}</p>
            <p class="hero-button"><button class="btn btn-show-login">{% trans "Get Started" %}</button></p>
        </div>
        <div class="features box-holder">
            <div class="feature box">
                <div class="feature-icon feature-icon-install"></div>
                <h3>{% trans "Nothing to install" %}</h3>
                <p>{% trans "Write apps directly in your browser. Skip all setup instructions!" %}</p>
            </div>
            <div class="feature box">
                <div class="feature-icon feature-icon-json"></div>
                <h3>{% trans "No JSON to edit" %}</h3>
                <p>{% trans "Resources are managed through a friendly user interface" %}</p>
            </div>
            <div class="feature box">
                <div class="feature-icon feature-icon-cloudy"></div>
                {# Translators: This is "cloud" as in the internet, but used as a pun on cloud as in sky. #}
                <h3>{% trans "Cloudy" %}</h3>
                <p>{% trans "It's on the internet. Accessible from anywhere! That's a good thing, right?" %}</p>
            </div>
            <div class="feature box">
                <div class="feature-icon feature-icon-unfinished"></div>
                <h3>{% trans "More to come" %}</h3>
                <p>{% trans "This is only the beginning!<br>There's much more to come." %}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
<div id="provider-chooser" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <h3>{% trans "Choose sign-in method" %}</h3>
    </div>
    <div class="modal-body" style="text-align: center;">
        <button class="btn btn-large provider-btn" data-provider="google" style="width: 300px; margin-bottom: 10px;">{% trans "Sign in with Google" %}</button><br>
        <button class="btn btn-large provider-btn" data-provider="github" style="width: 300px; margin-bottom: 10px;">{% trans "Sign in with GitHub" %}</button><br>
        <button class="btn btn-large provider-btn" data-provider="apple" style="width: 300px;">{% trans "Sign in with Apple" %}</button>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-auth-compat.js"></script>
    <script src="{% static 'ide/js/csrf.js' %}"></script>
    <script src="{% static 'root/js/splash.js' %}"></script>
{% endblock %}
